@use "global" as *;

.campaign__items{
  display: grid;
  grid-auto-flow: column;
}

.campaign__item{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  max-width: 100%;
  width: rem(280);
  @include mq(md){
    
  }
}