@use "global" as *;

.price {
  background: $green2;
  padding-top: rem(80);
  padding-bottom: rem(80);

  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.price__block{
  display: flex;
  flex-direction: column;
  margin-top: rem(24);
  gap: rem(40);
  @include mq(md){
    flex-direction: row-reverse;
    gap: rem(93);
      margin-top: rem(40);
  }
}

.price__block-img img{
  width: 100%;
  max-width: 100%;
  aspect-ratio: 345/227;
  @include mq(md){
    aspect-ratio: 462/746;
  }
}

.price__block-list{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.price__block-items{
  width: 100%;
  max-width: 100%;
}

.price__block-items table{
  width: 100%;
}

.price__block-items h3{
  font-size: rem(16);
  line-height: calc(24/16);
  padding-bottom: rem(4);
  border-bottom: solid 1px $green;
}

.price__block-items table td{
  font-size: rem(14);
  line-height: calc(24/14);
}

.price__block-items table tr{
  margin-top: rem(8);
  display: flex;
  justify-content: space-between;
}

.price__btn{
  margin-top: rem(40);
  display: flex;
  justify-content: center;
  @include mq(md){
      margin-top: rem(80);
  }
}