@use "global" as *;

.voice{
  position: relative;
}

.voice__bg-img{
  position: absolute;
  top: rem(-120);
  left: calc(
    ((100vw - rem(1440)) / 2 + rem(77)) - min(rem(0), (100vw - rem(1343)) / 2));
}

.voice__bg-img img{
  width: 100%;
  max-width: rem(301);
}

.voice__bg-img2{
  position: absolute;
  bottom: rem(-60);
  right: calc(
    ((100vw - rem(1440)) / 2 + rem(180)) - min(rem(0), (100vw - rem(1343)) / 2));
}

.voice__bg-img2 img{
  width: 100%;
  max-width: rem(71);
}

.voice__block{
  margin-top: rem(40);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md){
      margin-top: rem(30);
      flex-direction: row;
  }
}

.voice__btn{
  display: flex;
  justify-content: center;
  margin-top: rem(40);
  @include mq(md){
      margin-top: rem(80);
  }
}